@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "メイリオ", "Meiryo", sans-serif;
  color: #333;
  background: #1258A7;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #143C6E;
  transition: all 0.2s;
}
a:hover {
  opacity: 0.8;
  transition: all 0.2s;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/bg_image.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#header {
  width: 1000px;
  margin: 0 auto;
  height: 160px;
}

#container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#sidebar {
  width: 260px;
}
#sidebar .global_nav ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#sidebar .global_nav ul li a.enable {
  color: #143C6E;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  background: rgba(255, 255, 255, 0.85);
  padding: 0 10px 0 20px;
  border: 1px solid #f6f6f6;
  line-height: 1.4;
  position: relative;
}
#sidebar .global_nav ul li a.enable:before {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 30px;
  background: #FFDC00;
  content: "";
}
#sidebar .global_nav ul li a.selected {
  color: #fff;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  background: rgb(0, 60, 170);
  background: linear-gradient(90deg, rgb(0, 60, 170) 0%, rgb(110, 180, 255) 100%);
  padding: 0 10px 0 20px;
  border: 1px solid linear-gradient(90deg, rgb(0, 60, 170) 0%, rgb(110, 180, 255) 100%);
  line-height: 1.4;
  position: relative;
}
#sidebar .global_nav ul li a.selected:before {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 30px;
  background: #FFDC00;
  content: "";
}
#sidebar .global_nav ul li a.disable {
  color: #B2B2B2;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  background: rgba(239, 239, 239, 0.85);
  padding: 0 10px 0 20px;
  line-height: 1.4;
  position: relative;
  pointer-events: none;
}
#sidebar .global_nav ul li a.disable:before {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 30px;
  background: #B2B2B2;
  content: "";
}
#sidebar .global_nav ul li a.disable:hover {
  transition: none;
  opacity: 1;
}

#contents {
  width: 720px;
}
#contents .contents_title {
  display: flex;
  align-items: center;
  text-indent: 0.5em;
  background: url(../img/h2.jpg);
  width: 690px;
  height: 50px;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 60px 0;
}
#contents .contents_area {
  margin: 0 0 60px 0;
}
#contents .contents_area h3 {
  position: relative;
  font-size: 22px;
  font-weight: bold;
  border-left: 4px solid #1258a7;
  border-bottom: 1px solid #000;
  padding: 0 0 4px 10px;
  margin: 0 0 31px 0;
  line-height: 1.3;
}
#contents .contents_area h3 .tutorial_modify {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
#contents .contents_area .access_h5 {
  color: #1258a7;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  padding: 15px 0;
  margin: 0 0 30px 0;
  border-top: 2px solid #1258a7;
  border-bottom: 2px solid #1258a7;
}
#contents .contents_area ul {
  margin: 0 0 30px 0;
}
#contents .contents_area ul li {
  margin: 0 0 15px 0;
}
#contents .contents_area .bus_route {
  margin: 0 0 20px 0;
}
#contents .contents_area .bus_route dt {
  font-weight: bold;
  background: #f1f6f9;
  padding: 15px;
  margin: 0 0 15px 0;
}
#contents .contents_area .bus_route dd {
  padding: 0 0 0 38px;
  margin: 0 0 10px 0;
}
#contents .contents_area .bus_route dd p {
  position: relative;
  line-height: 2;
  text-align: justify;
  text-justify: inter-ideograph;
}
#contents .contents_area .bus_route dd p img {
  position: absolute;
  top: 3px;
  left: -12px;
}
#contents .contents_area .bus_route .bl_blue {
  border-left: 10px solid #1258a7 !important;
}
#contents .contents_area .bus_route .bl_red {
  border-left: 10px solid red !important;
}
#contents .contents_area .links_h3 {
  margin: 0 0 30px 0;
}
#contents .contents_area .links_h3 h3 {
  font-size: 1.1em;
  margin: 0 0 15px 0;
  border-bottom: none;
}
#contents .contents_area p {
  font-size: 15px;
  padding: 0 0 0 1em;
  line-height: 1.66;
}
#contents .contents_area .bus_map_img {
  margin: 0 0 30px 0;
}
#contents .contents_area .contents_officer P:first-child {
  font-size: 18px;
  font-weight: bold;
  color: #1258a7;
}
#contents .contents_area .contents_officer P:last-child {
  margin: 0 0 10px 0;
}

#news {
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
}
#news .news_title {
  background: rgb(18, 88, 167);
  background: linear-gradient(90deg, rgb(18, 88, 167) 50%, rgba(18, 88, 167, 0) 100%);
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 0 0 0 10px;
  height: 30px;
  line-height: 30px;
  margin: 0 0 15px 0;
}
#news .news_area {
  color: #143C6E;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 5px;
}
#news .news_area .news_column {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}
#news .news_area .news_column .news_row {
  display: flex;
  flex-direction: row;
}
#news .news_area .news_column .news_row .date {
  width: 110px;
}

#footer {
  background: #fff;
}

#pagetop span {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: #fff;
  background: #1258a7;
  font-size: 16px;
  font-weight: bold;
}
#pagetop span:hover {
  cursor: pointer;
}

.inner {
  width: 1000px;
  margin: 0 auto;
}

.mv {
  height: 640px;
}

.copyright {
  font-size: 13px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */