@charset "UTF-8";
@use "reset";

// ベースカラー変数
$primary_color: #1258a7;
$primary_dark_color: #143C6E;
$secandary_color: #FFDC00;



// BASE-------------------------------------------------
body {
	font-size: 16px;
	font-family: "メイリオ", "Meiryo", sans-serif;
	color: #333;
	background: #16a4d3;
	line-height: 1.6;
	text-size-adjust: 100%;
}

a {
	// text-decoration: none;
	color: $primary_color;
	transition: all 0.2s;

	&:hover {
		opacity: 0.8;
		transition: all 0.2s;
		text-decoration: none;
	}

	&:visited {
		color: $primary_dark_color;
	}

}

b {
	font-weight: bold;
}

td {
	vertical-align: top;
}

// ID-------------------------------------------------
#wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

#header {
	width: 1000px;
	margin: 0 auto;
	height: 160px;
}

#container {
	display: flex;
	flex-direction: row;
	gap: 20px;
	padding: 0 0 30px 0;
}

#sidebar {
	width: 260px;
}

#top_contents {
	width: 720px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#contents {
	background: rgba(255, 255, 255, 0.925);
	width: 720px;
	padding: 30px;
	text-align: justify;

	section {
		padding-left: 1.2em;
		margin: 0 0 60px 0;
	}

	h2 {
		position: relative;
		background: rgb(0, 60, 170);
		background: linear-gradient(90deg, rgba(0, 60, 170, 1) 0%, rgba(110, 180, 255, 1) 100%);

		display: flex;
		align-items: center;
		justify-content: center;
		text-indent: 0.5em;

		height: 55px;
		color: #fff;
		font-size: 22px;
		text-align: center;
		font-weight: bold;
		margin: 0 0 60px 0;

		&:before {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			width: 100px;
			height: 55px;
			background: url("../img/hibiscus.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: left top;
		}
	}

	h3 {
		font-size: 20px;
		font-weight: bold;
		color: $primary_dark_color;
		margin: 40px 0 20px 0;
		padding: 5px 0 5px 15px;
		border-left: 4px solid $primary_dark_color;
		border-bottom: 1px solid #a1b4d0;
	}

	h4 {
		font-weight: bold;
		margin: 1.5em 0 1em 0;
		display: flex;
		padding: 4px 0 0 5px;
		background: rgb(255, 255, 255);
		background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 75%);
	}

	h5 {
		font-weight: bold;
		background: rgba(255, 255, 255, 0.75);
		margin-bottom: 12px;
		padding: 5px 6px 2px 6px;
	}

	h6 {
		font-weight: bold;
		margin-bottom: 5px;
	}

	img {
		width: 100%;
	}

	blockquote {
		display: block;
		margin: 0 0 100px 0;
	}

	.toiawase_title {
		font-size: 19px;
		color: green;
		font-weight: bold;
		margin: 0 0 10px 0;
	}

	.yoyaku_contact_box {
		padding: 15px 20px;
		margin: 1em 0 4em 0;
		border: 3px solid green;
		border-radius: 10px;
		background: #fff;
	}

	.riyou_annai {
		border-top: 2px solid $primary_color;
		border-bottom: 2px solid $primary_color;

		font-size: 20px;
		padding: 10px 0;
		margin: 30px 0;
		text-align: center;
		font-weight: bold;
	}

	.naha_terminal_kara {
		background: #fff;
		border-color: red;
		padding-bottom: 8px;
	}

	.airport_kara {
		background: #fff;
		border-color: #0071bc;
		padding-bottom: 8px;
	}

	.rentacar_title {
		font-size: 19px;
		color: red;
		font-weight: bold;
		margin: 0 0 10px 0;
	}

	.rentacar_tyui_box {
		flex-direction: row;
		border: 3px dotted red;
		padding: 20px;
		border-radius: 10px;
		background: #fff;
	}

	.rentacar_text_box {
		display: flex;
		gap: 30px;
	}

	.aka {
		color: red;
	}

	.ore {
		color: #f7931e;
	}

	dt {
		font-size: 18px;
		height: 40px;
		display: flex;
		font-weight: bold;
		margin-top: 2em;
		margin-bottom: 15px;
		padding: 6px 0 0 10px;
		border-left: 12px solid red;
	}

	dd {
		padding: 0 0 0 1em;
		margin: 0 0 1em 0;

		img {
			width: 18px;
		}

		p {
			padding: 0 0 0 2em;
			text-indent: -1.4em;
		}


	}

	ul {
		margin: 0 0 30px 0;

		li {
			margin: 0 0 10px 0;
		}
	}
}

#news {
	background: rgba(255, 255, 255, 0.925);
	padding: 20px;

	.news_title {
		background: rgb(18, 88, 167);
		background: linear-gradient(90deg, rgba(18, 88, 167, 1) 50%, rgba(18, 88, 167, 0) 100%);
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		padding: 0 0 0 10px;
		height: 30px;
		line-height: 30px;
		margin: 0 0 15px 0;
	}

	.news_area {
		color: $primary_dark_color;
		height: 200px;
		overflow-x: hidden;
		overflow-y: scroll;
		padding: 0 5px;

		.news_column {
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid #ccc;
			padding: 6px 0;

			.news_row {
				display: flex;
				flex-direction: row;

				.date {
					flex: 0 0 auto;
					width: 110px;
				}
			}
		}
	}
}

#footer {
	background: #fff;
}

#pagetop {
	position: fixed;
	bottom: 20px;
	right: 60px;
	z-index: 9999;

	&:hover {
		cursor: pointer;
	}

	.pagetop_btn {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-right: -30px;
		border-radius: 999px;
		text-align: center;
		width: 70px;
		height: 70px;
		color: #333;
		background: $secandary_color;
		font-size: 16px;
	}
}

// CLASS-------------------------------------------------

.wrapper {
	background-image: url("../img/bg_image.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.inner {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.mv {
	height: 640px;
	padding-top: 30px;
}

.table {
	margin: 15px 0 30px 0;

	tr {
		border-top: 1px solid #999;
		border-left: 1px solid #999;
		vertical-align: middle;

		th {
			border-right: 1px solid #999;
			border-bottom: 1px solid #999;
			vertical-align: middle;
			padding: 5px 10px;
			text-align: center;
			background: rgb(222, 244, 241);
		}

		td {
			border-right: 1px solid #999;
			border-bottom: 1px solid #999;
			vertical-align: middle;
			padding: 5px 10px;
			background: #fff;
		}
	}
}

.global_nav {
	ul {
		display: flex;
		flex-direction: column;
		font-weight: bold;
		gap: 5px;

		li {
			a {
				text-decoration: none;
			}

			a.enable {
				color: $primary_dark_color;
				font-size: 15px;
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 60px;
				background: rgba(255, 255, 255, 0.925);
				padding: 0 10px 0 20px;
				line-height: 1.4;
				position: relative;
				transition: all 0.2s;

				&:before {
					position: absolute;
					left: 10px;
					top: 50%;
					transform: translateY(-50%);
					width: 3px;
					height: 30px;
					background: $secandary_color;
					content: "";
				}

				&:hover {
					color: #fff;
					font-size: 15px;
					display: flex;
					flex-direction: row;
					align-items: center;
					height: 60px;
					background: rgb(0, 60, 170);
					background: linear-gradient(90deg, rgba(0, 60, 170, 1) 0%, rgba(110, 180, 255, 1) 100%);
					padding: 0 10px 0 40px;
					border: none;
					line-height: 1.4;
					transition: all 0.2s;
					opacity: 1;
				}
			}

			a.selected {
				color: #fff;
				font-size: 15px;
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 60px;
				background: rgb(0, 60, 170);
				background: linear-gradient(90deg, rgba(0, 60, 170, 1) 0%, rgba(110, 180, 255, 1) 100%);
				padding: 0 10px 0 20px;
				border: 1px solid linear-gradient(90deg, rgba(0, 60, 170, 1) 0%, rgba(110, 180, 255, 1) 100%);
				line-height: 1.4;
				position: relative;

				&:before {
					position: absolute;
					left: 10px;
					top: 50%;
					transform: translateY(-50%);
					width: 3px;
					height: 30px;
					background: $secandary_color;
					content: "";
				}

				&:hover {
					opacity: 1;
				}
			}

			a.disable {
				color: #B2B2B2;
				font-size: 15px;
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 60px;
				background: rgba(239, 239, 239, 0.85);
				padding: 0 10px 0 20px;
				line-height: 1.4;
				position: relative;
				pointer-events: none;

				&:before {
					position: absolute;
					left: 10px;
					top: 50%;
					transform: translateY(-50%);
					width: 3px;
					height: 30px;
					background: #B2B2B2;
					content: "";
				}

				&:hover {
					transition: none;
					opacity: 1;
				}
			}
		}
	}
}

.greeting_profile {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 30px;
	margin: 0 0 30px 0;

	div {
		&:nth-child(2) {
			padding: 0 0 30px 0;
		}
	}
}

.footer_inner {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	padding: 30px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 60px;

	.footer_ttl {
		font-size: 18px;
		color: $primary_color;
		font-weight: bold;
	}
}

.copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f2f2f2;
	font-size: 13px;
	height: 50px;
}

.box {
	border: 1px solid #aecadc;
	background: #e7f3fb;
	padding: 22px 14px;
	text-align: center;
	margin: 0 0 30px 0;
}

.liner_box {
	display: inline-block;
	padding: 15px 30px;
	border-radius: 6px;
	margin: 15px 0;
	background: #fff;
}

.ind1-1 {
	display: inline-block;
	text-indent: -1em;
	padding-left: 1em;
}

.ind1 {
	display: inline-block;
	padding-left: 1em;
}

.sippei {
	margin: 5px 0 30px 0;

	tr {
		border-top: 1px solid #999;
		border-left: 1px solid #999;

		td {
			border-right: 1px solid #999;
			border-bottom: 1px solid #999;
			padding: 5px 10px;

			&:nth-child(1),
			&:nth-child(3) {
				text-align: center;
				width: 3em;
				background: rgb(222, 244, 241);
			}

			&:nth-child(2),
			&:nth-child(4) {
				text-align: left;
				width: 270px;
				background: #fff;
			}
		}
	}
}

.bui {
	margin: 5px 0 30px 0;

	tr {
		border-top: 1px solid #999;
		border-left: 1px solid #999;

		td {
			border-right: 1px solid #999;
			border-bottom: 1px solid #999;
			padding: 5px 10px;

			&:nth-child(1),
			&:nth-child(3),
			&:nth-child(5) {
				text-align: center;
				width: 3em;
				background: rgb(222, 244, 241);
			}

			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(6) {
				text-align: left;
				width: 160px;
				background: #fff;
			}
		}
	}
}

.btn_area {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin: 5px 0 20px 0;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	text-decoration: none;
	min-width: 270px;
	border-radius: 6px;
}

.btn_enable {
	border: 1px solid $primary_color;
	background: $primary_color;
	color: #fff !important;
	transition: all 0.2s;

	&:hover {
		background: #fff;
		border: 1px solid $primary_color;
		color: $primary_color !important;
		transition: all 0.2s;
		opacity: 1;
	}
}

.btn_disable {
	border: 1px solid #999;
	background: #aaa;
	color: #fff;
	pointer-events: none;

	&:hover {
		transition: none;
		opacity: 1;
	}
}

.divider {
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #999;
	margin: 30px auto;
}

.icon_nwindow {
	position: relative;

	&:before {
		position: absolute;
		top: 50%;
		transform: translateY(-60%);
		content: "";
		width: 10px;
		height: 10px;
		background: url("../img/newwindow.svg");
		background-size: contain;
		background-repeat: no-repeat;
		margin-left: 5px;
		color: #fff;
	}
}

.icon_nwindow_blue {
	position: relative;

	&:before {
		position: absolute;
		top: 50%;
		transform: translateY(-60%);
		content: "";
		width: 10px;
		height: 10px;
		background: url("../img/newwindow_blue.svg");
		background-size: contain;
		background-repeat: no-repeat;
		margin-left: 5px;
		color: #fff;
	}
}

.material-symbols-outlined.newicon {
	font-size: 15px;
	margin-left: 0.25em;
}

.announce {
	padding: 15px 30px;
	margin-bottom: 20px;
	background: #fff;
	border: 3px solid #dc0700;

	h3 {
		color: #000000;
		font-size: 18px;
		font-weight: bold;
		// width: fit-content;
		border-bottom: 1px solid #000000;
		margin-bottom: 5px;
	}

	p {
		line-height: 1.5;
	}
}

.btn_shuttle {
	color: #ff0000 !important;
	width: fit-content;
	height: 30px;
	text-decoration: underline;
	min-width: auto;
	margin: 5px 0 20px 0;
	border-radius: 2px;
}